<div class="container">
  <div style="background-color: white; line-height: 30px; margin: 20px 0 0 0; padding: 20px 25px; font-size: 1.5em;">
    <h3>About Rate My Course</h3><hr>
    Rate My Course is developed and designed by Maya Novarini, as part of her final project for
    Software Engineering course by Aaron Brick.
    <br /><br />
    Technology stack used was Ruby on Rails, Javascript and Bootstrap... and tons of gems.
    Built upon Rails 5 and Ruby 2.3.4
    <br /><br />
    Visit developer's website <a href="http://www.mayanovarini.com" target="_blank">here </a>

  </div>
</div>
