<div class="container">
  <div style="background-color: white; line-height: 30px; margin: 20px 0 0 0; padding: 20px 25px; font-size: 1.5em;">
    <h3>Career</hr><hr>
    No jobs but let's meet and see if we can work on something together!
    <br /><br />
    I mainly work with Ruby, Rails and Javascript.
    <br /><br />
    Visit developer's website <a href="http://www.mayanovarini.com" target="_blank">here </a>

  </div>
</div>
