<div class="container">
  <div style="background-color: white; line-height: 30px; margin: 20px 0 0 0; padding: 20px 25px; font-size: 1.5em;">
    <h3>Guidelines to post courses and reviews on Rate My Course are :</h3>
    <hr>
    <h3>Dos</h3>
      Make sure the course code is correct<br />
      Make sure the course name is correct<br />
      Make sure the department name is correct<br />
      Be descriptive and respectful in your review<br />
      Discuss how the course is conducted by the tutor(s)<br />
      Discuss the course impact on your learning<br /><br />

      <h3>Don'ts</h3>
      Use profanity, name calling, derogatory terms<br />
      Post a course you never took<br />
      Post a review of a course you never took<br />
  </div>
</div>
