<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/pages/about">About Us</a></li>
        <li><a href="/pages/career">Career</a></li>
        <li><a href="/pages/press">Press</a></li>
        <li><a href="/pages/tos">Terms of Service</a></li>
        <li><a href="/pages/content">Content Guidelines</a></li>
        <li><a href="/pages/privacy">Privacy Policy</a></li>
        <li><a href="/pages/contact">Contact Us</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <p>&copy; Rate My Course</p>
  </div><!-- /.container -->
</nav>
